
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
IPHONEOS_DEPLOYMENT_TARGET = 12.0
SDKROOT = iphoneos
VALID_ARCHS = arm64 armv7 armv7s

ONLY_ACTIVE_ARCH_DebugDevelop = YES
ONLY_ACTIVE_ARCH_DebugStaging = YES
ONLY_ACTIVE_ARCH_DebugLive = YES
ONLY_ACTIVE_ARCH_ReleaseStaging = NO
ONLY_ACTIVE_ARCH_ReleaseLive = NO
ONLY_ACTIVE_ARCH = $(ONLY_ACTIVE_ARCH_$(CONFIGURATION))

OTHER_SWIFT_FLAGS_DebugDevelop = -DDEVELOP $(inherited)
OTHER_SWIFT_FLAGS_DebugStaging = -DSTAGING $(inherited)
OTHER_SWIFT_FLAGS_ReleaseStaging = -DSTAGING $(inherited)
OTHER_SWIFT_FLAGS_DebugLive = -DPRODUCTION $(inherited)
OTHER_SWIFT_FLAGS_ReleaseLive = -DPRODUCTION $(inherited)
OTHER_SWIFT_FLAGS = $(OTHER_SWIFT_FLAGS_$(CONFIGURATION))

CODE_SIGN_ENTITLEMENTS_DebugDevelop = f4s-workexperience/Config/DebugDevelop.entitlements
CODE_SIGN_ENTITLEMENTS_DebugStaging = f4s-workexperience/Config/DebugStaging.entitlements
CODE_SIGN_ENTITLEMENTS_ReleaseStaging = f4s-workexperience/Config/ReleaseStaging.entitlements
CODE_SIGN_ENTITLEMENTS_DebugLive = f4s-workexperience/Config/DebugLive.entitlements
CODE_SIGN_ENTITLEMENTS_ReleaseLive = f4s-workexperience/Config/ReleaseLive.entitlements
CODE_SIGN_ENTITLEMENTS = $(CODE_SIGN_ENTITLEMENTS_$(CONFIGURATION))

PRODUCT_BUNDLE_IDENTIFIER_DebugDevelop = com.f4s.workexperience.f4s
PRODUCT_BUNDLE_IDENTIFIER_DebugStaging = com.f4s.workexperience.f4s
PRODUCT_BUNDLE_IDENTIFIER_ReleaseStaging = com.f4s.workexperience.f4s
PRODUCT_BUNDLE_IDENTIFIER_DebugLive = com.f4s.workexperience.f4s
PRODUCT_BUNDLE_IDENTIFIER_ReleaseLive = com.f4s.workexperience.f4s
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(CONFIGURATION))

DEVELOPMENT_TEAM_DebugDevelop = YB7C23CK6Q
DEVELOPMENT_TEAM_DebugStaging = YB7C23CK6Q
DEVELOPMENT_TEAM_ReleaseStaging = YB7C23CK6Q
DEVELOPMENT_TEAM_DebugLive = YB7C23CK6Q
DEVELOPMENT_TEAM_ReleaseLive = YB7C23CK6Q
DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM_$(CONFIGURATION))

CODE_SIGN_IDENTITY_DebugDevelop = iPhone Developer
CODE_SIGN_IDENTITY_DebugStaging = iPhone Developer
CODE_SIGN_IDENTITY_ReleaseStaging = iPhone Distribution
CODE_SIGN_IDENTITY_DebugLive = iPhone Developer
CODE_SIGN_IDENTITY_ReleaseLive = iPhone Distribution
CODE_SIGN_IDENTITY = $(CODE_SIGN_IDENTITY_$(CONFIGURATION))
