<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059000975608-ipf5iqv1lgo1ftq38dp5hv0v9chiqm66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059000975608-ipf5iqv1lgo1ftq38dp5hv0v9chiqm66</string>
	<key>API_KEY</key>
	<string>AIzaSyC_xnp-68MaOdGhjB5bvK9W1CfavZFD-0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1059000975608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f4s.workexperience.f4s</string>
	<key>PROJECT_ID</key>
	<string>ios-workfinder-seeker</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-workfinder-seeker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059000975608:ios:1db13d2a0589164012bb0d</string>
	<key>DATABASE_URL</key>
	<string>https://ios-workfinder-seeker.firebaseio.com</string>
</dict>
</plist>